In [2]:
from sqlalchemy import create_engine


engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz',low_memory=False)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

         VendorID tpep_pickup_datetime
0             1.0  2021-01-01 00:30:10
1             1.0  2021-01-01 00:51:20
2             1.0  2021-01-01 00:43:30
3             1.0  2021-01-01 00:15:48
4             2.0  2021-01-01 00:31:49
...           ...                  ...
1369760       NaN  2021-01-25 08:32:04
1369761       NaN  2021-01-25 08:34:00
1369762       NaN  2021-01-25 08:37:00
1369763       NaN  2021-01-25 08:28:00
1369764       NaN  2021-01-25 08:38:00

[1369765 rows x 2 columns]

In [41]:
print(pd.io.sql.get_schema(df, 'yellow_taxi', con=engine))

CREATE TABLE yellow_taxi (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [42]:
# with engine.begin() as connection:
#     schema = pd.io.sql.get_schema(df, 'yellow_taxi', con=connection)
#     schema = schema.strip()

#     # Divide el esquema en sentencias SQL individuales
#     statements = schema.split(";")

#     # Ejecuta cada sentencia individualmente
#     for statement in statements:
#         if statement:  # Ignore empty statements
#             connection.execute(statement)


df.to_sql('yellow_taxi', con=engine, if_exists='replace')

765

In [25]:
df[['tpep_pickup_datetime','tpep_dropoff_datetime']] = df[['tpep_pickup_datetime','tpep_dropoff_datetime']].apply(pd.to_datetime)

In [5]:
locations_df = pd.read_csv('taxi+_zone_lookup.csv')
locations_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [44]:
print(pd.io.sql.get_schema(locations_df, 'locations', con=engine))

CREATE TABLE locations (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [46]:
# with engine.begin() as connection:
#     schema = pd.io.sql.get_schema(locations_df, 'locations', con=engine)
#     connection.execute(schema)

locations_df.to_sql('locations', con=engine, if_exists='replace')

265

:

In [14]:
query = """
SELECT *
FROM locations;
"""
pd.read_sql(query, con=engine)

     index  LocationID        Borough                     Zone service_zone
0        0           1            EWR           Newark Airport          EWR
1        1           2         Queens              Jamaica Bay    Boro Zone
2        2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3        3           4      Manhattan            Alphabet City  Yellow Zone
4        4           5  Staten Island            Arden Heights    Boro Zone
..     ...         ...            ...                      ...          ...
260    260         261      Manhattan       World Trade Center  Yellow Zone
261    261         262      Manhattan           Yorkville East  Yellow Zone
262    262         263      Manhattan           Yorkville West  Yellow Zone
263    263         264        Unknown                       NV         None
264    264         265        Unknown                     None         None

[265 rows x 5 columns]

In [15]:
query = """

SELECT t.*, CONCAT(pickup_location."Borough",' - ', pickup_location."Zone")  AS PickupLocation, CONCAT(dropoff_location."Borough",' - ', dropoff_location."Zone")  AS DropoffLocation
FROM yellow_taxi AS t
LEFT JOIN locations AS pickup_location
    ON t."PULocationID"  = pickup_location."LocationID" 
LEFT JOIN locations AS dropoff_location
    ON t."DOLocationID" = dropoff_location."LocationID"

"""
pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pickuplocation,dropofflocation
0,0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,...,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5,Manhattan - Lincoln Square East,Manhattan - Central Park
1,1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,...,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0,Manhattan - Upper West Side North,Manhattan - Manhattan Valley
2,2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,...,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0,Queens - JFK Airport,Brooklyn - Midwood
3,3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,...,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0,Queens - LaGuardia Airport,Queens - JFK Airport
4,4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,...,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5,Manhattan - East Chelsea,Brooklyn - Brooklyn Heights
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,None,135,82,...,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0,Queens - Kew Gardens Hills,Queens - Elmhurst
1369761,1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,None,42,161,...,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0,Manhattan - Central Harlem North,Manhattan - Midtown Center
1369762,1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,None,14,106,...,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0,Brooklyn - Bay Ridge,Brooklyn - Gowanus
1369763,1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,None,175,216,...,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0,Queens - Oakland Gardens,Queens - South Ozone Park
1369764,1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,None,248,168,...,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0,Bronx - West Farms/Bronx River,Bronx - Mott Haven/Port Morris