In [3]:
from sqlalchemy import create_engine


engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [2]:
import pandas as pd

In [39]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz')
df.head()

/tmp/ipykernel_864/2399136880.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv.gz')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [40]:
df[['VendorID','tpep_pickup_datetime' ]]

         VendorID tpep_pickup_datetime
0             1.0  2021-01-01 00:30:10
1             1.0  2021-01-01 00:51:20
2             1.0  2021-01-01 00:43:30
3             1.0  2021-01-01 00:15:48
4             2.0  2021-01-01 00:31:49
...           ...                  ...
1369760       NaN  2021-01-25 08:32:04
1369761       NaN  2021-01-25 08:34:00
1369762       NaN  2021-01-25 08:37:00
1369763       NaN  2021-01-25 08:28:00
1369764       NaN  2021-01-25 08:38:00

[1369765 rows x 2 columns]

In [41]:
print(pd.io.sql.get_schema(df, 'yellow_taxi', con=engine))

CREATE TABLE yellow_taxi (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [42]:
# with engine.begin() as connection:
#     schema = pd.io.sql.get_schema(df, 'yellow_taxi', con=connection)
#     schema = schema.strip()

#     # Divide el esquema en sentencias SQL individuales
#     statements = schema.split(";")

#     # Ejecuta cada sentencia individualmente
#     for statement in statements:
#         if statement:  # Ignore empty statements
#             connection.execute(statement)


df.to_sql('yellow_taxi', con=engine, if_exists='replace')

765

In [25]:
df[['tpep_pickup_datetime','tpep_dropoff_datetime']] = df[['tpep_pickup_datetime','tpep_dropoff_datetime']].apply(pd.to_datetime)

In [43]:
locations_df = pd.read_csv('taxi+_zone_lookup.csv')
locations_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [44]:
print(pd.io.sql.get_schema(locations_df, 'locations', con=engine))

CREATE TABLE locations (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [46]:
# with engine.begin() as connection:
#     schema = pd.io.sql.get_schema(locations_df, 'locations', con=engine)
#     connection.execute(schema)

locations_df.to_sql('locations', con=engine, if_exists='replace')

265

:

In [4]:
query = """
SELECT *
FROM locations;
"""
pd.read_sql(query, con=engine)

     index  LocationID        Borough                     Zone service_zone
0        0           1            EWR           Newark Airport          EWR
1        1           2         Queens              Jamaica Bay    Boro Zone
2        2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3        3           4      Manhattan            Alphabet City  Yellow Zone
4        4           5  Staten Island            Arden Heights    Boro Zone
..     ...         ...            ...                      ...          ...
260    260         261      Manhattan       World Trade Center  Yellow Zone
261    261         262      Manhattan           Yorkville East  Yellow Zone
262    262         263      Manhattan           Yorkville West  Yellow Zone
263    263         264        Unknown                       NV         None
264    264         265        Unknown                     None         None

[265 rows x 5 columns]

In [5]:
query = """
SELECT *
FROM yellow_taxi
LIMIT 10;
"""
pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,163840,2.0,2021-01-06 00:21:01,2021-01-06 00:32:41,1.0,2.41,1.0,N,90,232,2.0,11.0,0.5,0.5,0.00,0.0,0.3,14.80,2.5
1,163841,2.0,2021-01-06 00:47:50,2021-01-06 01:16:38,1.0,8.52,1.0,N,162,37,4.0,-27.5,-0.5,-0.5,0.00,0.0,-0.3,-31.30,-2.5
2,163842,2.0,2021-01-06 00:47:50,2021-01-06 01:16:38,1.0,8.52,1.0,N,162,37,2.0,27.5,0.5,0.5,0.00,0.0,0.3,31.30,2.5
3,163843,1.0,2021-01-06 00:01:49,2021-01-06 00:16:14,1.0,3.20,1.0,N,138,56,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55,0.0
4,163844,2.0,2021-01-05 23:54:48,2021-01-06 00:16:50,5.0,5.20,1.0,N,239,243,2.0,19.0,0.5,0.5,0.00,0.0,0.3,22.80,2.5
5,163845,2.0,2021-01-06 00:07:11,2021-01-06 00:17:05,3.0,4.01,1.0,N,264,92,1.0,13.5,0.5,0.5,2.96,0.0,0.3,17.76,0.0
6,163846,1.0,2021-01-06 00:26:32,2021-01-06 00:43:18,1.0,5.20,1.0,N,24,164,1.0,17.0,3.0,0.5,4.15,0.0,0.3,24.95,2.5
7,163847,1.0,2021-01-06 00:43:17,2021-01-06 00:48:55,2.0,1.90,1.0,N,229,263,2.0,7.5,3.0,0.5,0.00,0.0,0.3,11.30,2.5
8,163848,1.0,2021-01-06 00:53:39,2021-01-06 00:57:34,1.0,1.30,1.0,N,263,43,2.0,6.0,3.0,0.5,0.00,0.0,0.3,9.80,2.5
9,163849,2.0,2021-01-05 23:56:44,2021-01-06 00:10:06,1.0,7.41,1.0,N,138,145,1.0,21.5,0.5,0.5,3.50,0.0,0.3,26.30,0.0